{
   "openapi":"3.0.1",
   "info":{
      "title":"EmisionTRIN",
      "description":"generación automatica de servicios",
      "version":"1.0.0"
   },
   "servers":[
      {
         "url":"https://apimgmt-pacificodesa.azure-api.net",
         "description":"Generated server url"
      }
   ],
   "paths":{
      "/emission/save":{
         "post":{
            "tags":[
               "emission-controller"
            ],
            "summary":"Registrar Emisión",
            "operationId":"saveEmission",
            "parameters":[
               {
                  "name":"Transactionid",
                  "in":"header",
                  "required":false,
                  "schema":{
                     "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                     "type":"string"
                  }
               },
               {
                  "name":"Application-Name",
                  "in":"header",
                  "required":false,
                  "schema":{
                     "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                     "type":"string"
                  }
               }
            ],
            "requestBody":{
               "content":{
                  "application/json":{
                     "schema":{
                        "$ref":"#/components/schemas/EmissionRequest"
                     }
                  }
               },
               "required":true
            },
            "responses":{
               "400":{
                  "description":"Bad Request",
                  "content":{
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"Successful operation",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/EmissionResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/emission/activate-policy":{
         "post":{
            "tags":[
               "emission-controller"
            ],
            "summary":"Activar póliza",
            "operationId":"activatePolicy",
            "parameters":[
               {
                  "name":"Transactionid",
                  "in":"header",
                  "required":false,
                  "schema":{
                     "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                     "type":"string"
                  }
               },
               {
                  "name":"Application-Name",
                  "in":"header",
                  "required":false,
                  "schema":{
                     "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                     "type":"string"
                  }
               }
            ],
            "requestBody":{
               "content":{
                  "application/json":{
                     "schema":{
                        "$ref":"#/components/schemas/PaymentDataRequest"
                     }
                  }
               },
               "required":true
            },
            "responses":{
               "400":{
                  "description":"Bad Request",
                  "content":{
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"Successful operation",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ActivePolicyResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/emission/generate-emission":{
         "get":{
            "tags":[
               "emission-controller"
            ],
            "summary":"Generar emisión",
            "operationId":"generateEmission",
            "parameters":[
               {
                  "name":"Transactionid",
                  "in":"header",
                  "required":false,
                  "schema":{
                     "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                     "type":"string"
                  }
               },
               {
                  "name":"Application-Name",
                  "in":"header",
                  "required":false,
                  "schema":{
                     "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                     "type":"string"
                  }
               },
               {
                  "name":"emissionNumber",
                  "in":"query",
                  "description":"Número de Emisión",
                  "required":true,
                  "schema":{
                     "type":"integer",
                     "format":"int64"
                  },
                  "example":0
               },
               {
                  "name":"quoteNumber",
                  "in":"query",
                  "description":"Número de Cotización",
                  "required":true,
                  "schema":{
                     "type":"integer",
                     "format":"int64"
                  },
                  "example":0
               },
               {
                  "name":"previousPayment",
                  "in":"query",
                  "description":"flag de pago previo",
                  "required":true,
                  "schema":{
                     "type":"integer",
                     "format":"int64"
                  },
                  "example":0
               }
            ],
            "responses":{
               "400":{
                  "description":"Bad Request",
                  "content":{
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"Successful operation",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/GenerateEmissionResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/emission/find":{
         "get":{
            "tags":[
               "emission-controller"
            ],
            "summary":"Buscar Emisión",
            "operationId":"findEmission",
            "parameters":[
               {
                  "name":"Transactionid",
                  "in":"header",
                  "required":false,
                  "schema":{
                     "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                     "type":"string"
                  }
               },
               {
                  "name":"emissionNumber",
                  "in":"query",
                  "description":"Número de Emisión",
                  "required":false,
                  "schema":{
                     "type":"integer",
                     "format":"int64"
                  },
                  "example":0
               },
               {
                  "name":"quoteNumber",
                  "in":"query",
                  "description":"Número de Cotización",
                  "required":false,
                  "schema":{
                     "type":"integer",
                     "format":"int64"
                  },
                  "example":0
               }
            ],
            "responses":{
               "400":{
                  "description":"Bad Request",
                  "content":{
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"Successful operation",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/EmissionDetailResponse"
                        }
                     }
                  }
               }
            }
         }
      }
   },
   "components":{
      "schemas":{
         "ErrorResponse":{
            "type":"object",
            "properties":{
               "id":{
                  "type":"string"
               },
               "code":{
                  "type":"string"
               },
               "type":{
                  "type":"string"
               },
               "category":{
                  "type":"string",
                  "enum":[
                     "INFO",
                     "DEBUG",
                     "WARN",
                     "FATAL",
                     "ERROR"
                  ]
               },
               "description":{
                  "type":"string"
               },
               "externalDescription":{
                  "type":"string"
               },
               "legacyCode":{
                  "type":"string"
               },
               "errors":{
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               }
            }
         },
         "EmissionResponse":{
            "required":[
               "emissionNumber",
               "quoteNumber"
            ],
            "type":"object",
            "properties":{
               "emissionNumber":{
                  "type":"integer",
                  "format":"int64",
                  "example":1
               },
               "quoteNumber":{
                  "type":"integer",
                  "format":"int64",
                  "example":1
               },
               "dateCreate":{
                  "type":"string",
                  "format":"date-time"
               },
               "dateUpdate":{
                  "type":"string",
                  "format":"date-time"
               }
            },
            "description":"EmissionResponse model"
         },
         "ContractServiceRequest":{
            "type":"object",
            "properties":{
               "contractSendingServiceEquifax":{
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡()\":;*,._–-]{0,}$",
                  "type":"string",
                  "example":"CONTRATO REQUEST EQUIFAX"
               },
               "equifaxServiceResponseContract":{
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡()\":;*,._–-]{0,}$",
                  "type":"string",
                  "example":"CONTRATO RESPONSE EQUIFAX"
               },
               "contractShipmentQueueIssue":{
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡()\":;*,._–-]{0,}$",
                  "type":"string",
                  "example":"CONTRATO REQUEST ENCOLAR EMISION"
               },
               "enqueueBroadcastResponseContract":{
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡()\":;*,._–-]{0,}$",
                  "type":"string",
                  "example":"CONTRATO RESPONSE ENCOLAR EMISION"
               }
            },
            "description":"ContractServiceRequest model"
         },
         "ContractorRequest":{
            "type":"object",
            "properties":{
               "countryCode":{
                  "maxLength":3,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"001"
               },
               "departmentCode":{
                  "maxLength":3,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"015"
               },
               "provinceCode":{
                  "maxLength":3,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"001"
               },
               "districtCode":{
                  "maxLength":3,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"001"
               },
               "streetTypeCode":{
                  "maxLength":2,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9–-]{0,}$",
                  "type":"string",
                  "example":"AV"
               },
               "streetName":{
                  "maxLength":40,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜàÀèÈìÌòÒùÙ &$@{}\\[\\]#°'¿?!¡()\"/:;*,._–-]{0,}$",
                  "type":"string",
                  "example":"GOLF LOS INKAS"
               },
               "streetNumber":{
                  "maxLength":10,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"208"
               },
               "interiorTypeCode":{
                  "maxLength":1,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9–-]{0,}$",
                  "type":"string",
                  "example":"O"
               },
               "interiorNumber":{
                  "maxLength":10,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"1406"
               },
               "cellPhone":{
                  "maxLength":20,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"999999999"
               },
               "dateOfBirth":{
                  "type":"string",
                  "format":"date"
               },
               "emailBillingMail":{
                  "maxLength":60,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9.@_–-]+$",
                  "type":"string",
                  "example":"abc@abc.com"
               },
               "emailPolicyMail":{
                  "maxLength":60,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9.@_–-]+$",
                  "type":"string",
                  "example":"abc@abc.com"
               }
            },
            "description":"ContractorRequest model"
         },
         "EmissionRequest":{
            "type":"object",
            "properties":{
               "emissionNumber":{
                  "type":"integer",
                  "format":"int64"
               },
               "quoteNumber":{
                  "type":"integer",
                  "format":"int64"
               },
               "channelCode":{
                  "maxLength":14,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9–-]{0,}$",
                  "type":"string",
                  "example":"0000007092402"
               },
               "contractor":{
                  "$ref":"#/components/schemas/ContractorRequest"
               },
               "insured":{
                  "$ref":"#/components/schemas/InsuredRequest"
               },
               "endorsee":{
                  "$ref":"#/components/schemas/EndorseeRequest"
               },
               "insuredDifferentContracting":{
                  "type":"boolean"
               },
               "shipmentDepartureDate":{
                  "type":"string",
                  "format":"date"
               },
               "merchandiseDetail":{
                  "maxLength":50,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                  "type":"string",
                  "example":"EJEMPLO"
               },
               "merchandiseEndorsedFinancialEntity":{
                  "type":"boolean"
               },
               "affidavit":{
                  "type":"boolean"
               },
               "transactionalData":{
                  "$ref":"#/components/schemas/TransactionalDataRequest"
               },
               "correlativeInvoiceNumber":{
                  "maxLength":200,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                  "type":"string",
                  "example":"001-00000000001"
               },
               "packagingDetail":{
                  "maxLength":50,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                  "type":"string",
                  "example":"EL ADECUADO"
               },
               "shipCode":{
                  "maxLength":7,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                  "type":"string",
                  "example":"0000000"
               },
               "shipName":{
                  "maxLength":50,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                  "type":"string",
                  "example":"QUOVIS"
               },
               "flagAffidavitOfNoClaim":{
                  "type":"boolean"
               },
               "statusError":{
                  "$ref":"#/components/schemas/StatusErrorRequest"
               },
               "dateCreate":{
                  "type":"string",
                  "format":"date-time"
               },
               "dateUpdate":{
                  "type":"string",
                  "format":"date-time"
               },
               "currentStep":{
                  "maxLength":10,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"1"
               },
               "state":{
                  "maxLength":20,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9 _–-]{0,}$",
                  "type":"string",
                  "example":"EN PROCESO"
               },
               "contractService":{
                  "$ref":"#/components/schemas/ContractServiceRequest"
               }
            },
            "description":"EmissionRequest model"
         },
         "EndorseeRequest":{
            "type":"object",
            "properties":{
               "documentTypeEndorsee":{
                  "maxLength":4,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9–-]{0,}$",
                  "type":"string",
                  "example":"RUC"
               },
               "documentNumberEndorsee":{
                  "maxLength":20,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ ]{0,}$",
                  "type":"string",
                  "example":"12345678912"
               },
               "businessNameEndorsee":{
                  "maxLength":200,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                  "type":"string",
                  "example":"NOMBRE RAZON SOCIAL"
               }
            },
            "description":"EndorseeRequest model"
         },
         "InsuredRequest":{
            "type":"object",
            "properties":{
               "countryCode":{
                  "maxLength":3,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"001"
               },
               "departmentCode":{
                  "maxLength":3,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"015"
               },
               "provinceCode":{
                  "maxLength":3,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"001"
               },
               "districtCode":{
                  "maxLength":3,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"001"
               },
               "streetTypeCode":{
                  "maxLength":2,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9–-]{0,}$",
                  "type":"string",
                  "example":"AV"
               },
               "streetName":{
                  "maxLength":40,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜàÀèÈìÌòÒùÙ &$@{}\\[\\]#°'¿?!¡()\"/:;*,._–-]{0,}$",
                  "type":"string",
                  "example":"GOLF LOS INKAS"
               },
               "streetNumber":{
                  "maxLength":10,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"208"
               },
               "interiorTypeCode":{
                  "maxLength":1,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9–-]{0,}$",
                  "type":"string",
                  "example":"O"
               },
               "interiorNumber":{
                  "maxLength":10,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"1406"
               },
               "cellPhone":{
                  "maxLength":20,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"999999999"
               },
               "dateOfBirth":{
                  "type":"string",
                  "format":"date"
               },
               "documentType":{
                  "maxLength":4,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9–-]{0,}$",
                  "type":"string",
                  "example":"RUC"
               },
               "documentNumber":{
                  "maxLength":20,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ ]{0,}$",
                  "type":"string",
                  "example":"12345678912"
               },
               "businessName":{
                  "maxLength":200,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                  "type":"string",
                  "example":"NOMBRE RAZON SOCIAL"
               },
               "names":{
                  "maxLength":100,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ ']{0,}$",
                  "type":"string",
                  "example":"NOMBRES"
               },
               "lastName":{
                  "maxLength":100,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ ']{0,}$",
                  "type":"string",
                  "example":"APELLIDO"
               },
               "motherLastName":{
                  "maxLength":100,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ ']{0,}$",
                  "type":"string",
                  "example":"APE MATERNO"
               },
               "ciiu":{
                  "maxLength":20,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"74996"
               },
               "ciiuDescription":{
                  "maxLength":200,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                  "type":"string",
                  "example":"OTRAS ACTIVIDADES EMPRESARIALES NCP"
               },
               "email":{
                  "maxLength":60,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9.@_–-]+$",
                  "type":"string",
                  "example":"abc@abc.com"
               }
            },
            "description":"InsuredRequest model"
         },
         "StatusErrorRequest":{
            "type":"object",
            "properties":{
               "errorServiceEquifax":{
                  "type":"boolean",
                  "example":false
               },
               "errorServiceQueueBroadcast":{
                  "type":"boolean",
                  "example":false
               }
            },
            "description":"StatusErrorRequest model"
         },
         "TransactionalDataRequest":{
            "type":"object",
            "properties":{
               "brokerId":{
                  "maxLength":20,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"402071"
               },
               "brokerEmail":{
                  "maxLength":120,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                  "type":"string",
                  "example":"ejemplo@abc.com"
               },
               "channelDescription":{
                  "maxLength":50,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9 _–-]{0,}$",
                  "type":"string",
                  "example":"PORTALCORREDORES"
               },
               "productDescription":{
                  "maxLength":50,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9 _–-]{0,}$",
                  "type":"string",
                  "example":"TRIN"
               }
            },
            "description":"TransactionalDataRequest model"
         },
         "ActivePolicyResponse":{
            "type":"object",
            "properties":{
               "code":{
                  "type":"string"
               },
               "message":{
                  "type":"string"
               }
            },
            "description":"ActivePolicyResponse model"
         },
         "PaymentDataRequest":{
            "type":"object",
            "properties":{
               "idProc":{
                  "type":"integer",
                  "description":"Id de proceso",
                  "format":"int64",
                  "example":99991000
               },
               "cip":{
                  "pattern":"[^<>+]{0,}$",
                  "type":"string",
                  "description":"CIP",
                  "example":"11546901"
               },
               "currency":{
                  "pattern":"[^<>+]{0,}$",
                  "type":"string",
                  "description":"Moneda",
                  "example":"PEN"
               },
               "amount":{
                  "type":"number",
                  "description":"Monto",
                  "format":"double",
                  "example":100.5
               },
               "paymentDate":{
                  "pattern":"[^<>+]{0,}$",
                  "type":"string",
                  "description":"Fecha de pago",
                  "example":"2023-11-27"
               },
               "transactionCode":{
                  "pattern":"[^<>+]{0,}$",
                  "type":"string",
                  "description":"Codigo de transacción",
                  "example":"013240BN403"
               }
            }
         },
         "GenerateEmissionResponse":{
            "required":[
               "emissionNumber",
               "quoteNumber",
               "requestNumber"
            ],
            "type":"object",
            "properties":{
               "emissionNumber":{
                  "type":"integer",
                  "format":"int64",
                  "example":1
               },
               "quoteNumber":{
                  "type":"integer",
                  "format":"int64",
                  "example":1
               },
               "requestNumber":{
                  "type":"integer",
                  "format":"int64",
                  "example":1
               },
               "code":{
                  "type":"string"
               },
               "message":{
                  "type":"string"
               },
               "sendDateGenerateIssue":{
                  "type":"string",
                  "format":"date-time"
               }
            },
            "description":"GenerateEmissionResponse model"
         },
         "EmissionDetailResponse":{
            "type":"object",
            "properties":{
               "emissionNumber":{
                  "type":"integer",
                  "format":"int64"
               },
               "quoteNumber":{
                  "type":"integer",
                  "format":"int64"
               },
               "channelCode":{
                  "maxLength":14,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9–-]{0,}$",
                  "type":"string",
                  "example":"0000007092402"
               },
               "contractor":{
                  "$ref":"#/components/schemas/ContractorRequest"
               },
               "insured":{
                  "$ref":"#/components/schemas/InsuredRequest"
               },
               "endorsee":{
                  "$ref":"#/components/schemas/EndorseeRequest"
               },
               "insuredDifferentContracting":{
                  "type":"boolean"
               },
               "shipmentDepartureDate":{
                  "type":"string",
                  "format":"date"
               },
               "merchandiseDetail":{
                  "maxLength":50,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                  "type":"string",
                  "example":"EJEMPLO"
               },
               "merchandiseEndorsedFinancialEntity":{
                  "type":"boolean"
               },
               "affidavit":{
                  "type":"boolean"
               },
               "transactionalData":{
                  "$ref":"#/components/schemas/TransactionalDataRequest"
               },
               "correlativeInvoiceNumber":{
                  "maxLength":200,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                  "type":"string",
                  "example":"001-00000000001"
               },
               "packagingDetail":{
                  "maxLength":50,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                  "type":"string",
                  "example":"EL ADECUADO"
               },
               "shipCode":{
                  "maxLength":7,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                  "type":"string",
                  "example":"0000000"
               },
               "shipName":{
                  "maxLength":50,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑäëïöüÄËÏÖÜ &$@{}\\[\\]#°'¿?!¡():;*,._–-]{0,}$",
                  "type":"string",
                  "example":"QUOVIS"
               },
               "flagAffidavitOfNoClaim":{
                  "type":"boolean"
               },
               "statusError":{
                  "$ref":"#/components/schemas/StatusErrorRequest"
               },
               "dateCreate":{
                  "type":"string",
                  "format":"date-time"
               },
               "dateUpdate":{
                  "type":"string",
                  "format":"date-time"
               },
               "currentStep":{
                  "maxLength":10,
                  "minLength":0,
                  "pattern":"^\\d{0,}$",
                  "type":"string",
                  "example":"1"
               },
               "state":{
                  "maxLength":20,
                  "minLength":0,
                  "pattern":"^[a-zA-Z0-9 _–-]{0,}$",
                  "type":"string",
                  "example":"EN PROCESO"
               },
               "contractService":{
                  "$ref":"#/components/schemas/ContractServiceRequest"
               },
               "mainCoverage":{
                  "$ref":"#/components/schemas/MainCoverageResponse"
               }
            },
            "description":"EmissionDetailResponse model"
         },
         "MainCoverageResponse":{
            "type":"object",
            "properties":{
               "code":{
                  "type":"string"
               },
               "description":{
                  "type":"string"
               }
            },
            "description":"MainCoverageResponse model"
         }
      }
   }
}